<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54604479812-0n0tqot188jkvs5i336si1hthhs3c4cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54604479812-0n0tqot188jkvs5i336si1hthhs3c4cp</string>
	<key>API_KEY</key>
	<string>AIzaSyC101zT1dAPV-GXSfrQJVQLlPzZxCTMbj0</string>
	<key>GCM_SENDER_ID</key>
	<string>54604479812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dogukanberkozer.-7-Firebase-dbozer</string>
	<key>PROJECT_ID</key>
	<string>fir-dbo</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-dbo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54604479812:ios:9d95865822137d55eb2b11</string>
</dict>
</plist>